h1{
    font-size: 50px;
}
.m-t-5{
    margin-top: 5%;
}
.m-t-10{
margin-top: 10%;
}
.m-t-25{
    margin-top: 25%;
}
.button{
    color: white;
}
.border{
    border: 1px solid gray;
}
.rounded{
    border-radius: 5px;
}
.p-3{
    padding: 3%;
}
.image{
    height: 600px;
    width: 100% !important;
}